@model AutomatedTellerMachine.Models.Transaction

@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer</h2>

@Html.Partial("_TransferForm")

@section scripts 
{
    <script>
        $('#transferForm').submit(function () {
            $('#progress').show();
            $.post('', { transaction: @Model })
                .done(function (response) {
                    setTimeout(function () { $('#transferMessage').html(response); }, 2000);
                })
            return false;
        });
    </script>
}